@click.option('--frontend', is_flag=True, help='Create React frontend project')
@click.option('--enable_proxy', is_flag=True, help='Enable proxy server for frontend')
def create(project_name, backend, frontend, enable_proxy):